aiofiles==0.8.0
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
dataclass-factory==2.14
feedparser==6.0.8
h11==0.13.0
html2markdown==0.1.7
httpcore==0.14.7
httpx==0.22.0
idna==3.3
multidict==6.0.2
numpy==1.22.2
outcome==1.1.0
pycparser==2.21
pydub==0.25.1
rfc3986==2.0.0
sgmllib3k==1.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
trio==0.19.0
typing-extensions==4.0.1
ujson==5.1.0
yarl==1.7.2
